<a
  href="/signup"
  class="group mt-3 rounded bg-gradient-to-r from-teal-400 to-orange-400 via-purple-400 p-0.5"
>
  <button
    class="{{#if size}}{{size}}{{else}}w-48 px-4 py-3 text-2xl{{/if}} rounded-sm transition-all duration-300 text-white group-hover:bg-white"
  >
    <span
      class="bg-clip-text Xgroup-hover:bg-clip-border group-hover:text-transparent bg-gradient-to-r hover:from-teal-400 to-orange-400 hover:via-purple-400 group-hover:font-bold tracking-wide transition font-semibold"
    >
      Get Carousel
    </span>
  </button>
</a>
