<nav
  class="relative flex justify-between p-2 pl-4 Xsm:pt-6 sm:px-6 lg:px-8 sm:items-center Xsm:h-10 lg:justify-start"
>
  {{#if logo}}
  <a href="/">{{> colorfulLogo textSize="Xsm:mb-4 text-5xl"}}</a>
  {{/if}}
  <div class="hidden md:block md:ml-auto md:pr-4 md:mt-auto">
    <a
      href="/"
      class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out"
    >
      Home
    </a>
    <a
      href="/features"
      class="ml-8 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out"
    >
      Features
    </a>
    <a
      href="/pricing"
      class="ml-8 font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out"
    >
      Pricing
    </a>
    <a href="/login" class="ml-8 font-medium text-teal-600 hover:text-teal-900">
      Log in
    </a>
  </div>

  <div class="relative">{{> menuMobileBtn}} {{> menuMobileList}}</div>
</nav>

<script>
  const mobileMenuBtn = document.getElementById('mobileMenuBtn');
  const hamburger = document.getElementById('hamburger');
  const hamburgerParts = hamburger.children;
  const mobileMenuList = document.getElementById('mobileMenuList');

  mobileMenuBtn.addEventListener('click', () =>
    mobileMenuList.className.includes('menu-open') ? closeMenu() : openMenu()
  );

  const hamburgerTransition = [
    'absolute',
    'top-1/2',
    'transform',
    'origin-center',
  ];

  function toggleHamburger() {
    hamburgerParts[0].classList.toggle('rotate-45');
    hamburgerParts[2].classList.toggle('-rotate-45');
    hamburgerParts[1].classList.toggle('invisible');
    hamburgerTransition.forEach((str) => {
      hamburgerParts[0].classList.toggle(str);
      hamburgerParts[2].classList.toggle(str);
    });
  }

  function openMenu() {
    toggleHamburger();
    mobileMenuList.classList.add('menu-open');
    mobileMenuList.classList.remove('invisible', 'opacity-0', '-translate-y-2');
  }
  function closeMenu() {
    toggleHamburger();
    mobileMenuList.classList.remove('menu-open');
    mobileMenuList.classList.add('invisible', 'opacity-0', '-translate-y-2');
  }
</script>
