<button
  id="mobileMenuBtn"
  class="md:hidden w-9 h-9 my-auto bg-purple-600 rounded-full text-white hover:bg-purple-500 shadow transition z-50"
>
  <div
    id="hamburger"
    class="relative flex flex-col justify-between w-5 h-4 mx-auto py-0.5"
  >
    <div
      class="bg-white w-full h-0.5 rounded transition"
      data-class="absolute top-1/2 transform origin-center rotate-45isMenuVisible"
    ></div>
    <div
      class="bg-white w-full h-0.5 rounded transition"
      data-class="isMenuVisible ? invisible : visible"
    ></div>
    <div
      class="bg-white w-full h-0.5 rounded transition"
      data-class="absolute top-1/2 transform origin-center -rotate-45 isMenuVisible"
    ></div>
  </div>
</button>
