<style>
  td:nth-child(1) {
    position: relative;
    right: 2rem;
    top: 0.1rem;
    text-align: right;
    vertical-align: middle;
    font-size: smaller;
    font-weight: bolder;
    line-height: ;
  }
</style>

<section
  class="w-full mx-auto Xmb-4 lg:px-12 Xsm:pt-8 text-center text-gray-900"
>
  <!-- Comparison table -->
  <table id="comparison-table" class="table-auto w-full md:w-3/4 mx-auto">
    <colgroup>
      <col class="w-1/3X" />
      <col class="w-1/3X" span="2" />
    </colgroup>
    <!-- <thead> -->
    <tr class="text-xl">
      <th></th>
      <th>Basic</th>
      <th>Premium</th>
    </tr>
    <!-- </thead> -->
    <!-- <tbody> -->
    <tr class="border-b border-gray-300">
      <td>Upload limit</td>
      <td class="py-3">500</td>
      <td class="py-3">5000</td>
    </tr>
    <tr class="border-b border-gray-300">
      <td>Image quality</td>
      <td class="py-3">Compressed & resized</td>
      <td class="py-3">Original</td>
    </tr>
    <tr class="border-b border-gray-300">
      <td>Albums</td>
      <td class="py-3">{{> iconX}}</td>
      <td class="py-3">{{> iconCheckmark text="Unlimited"}}</td>
    </tr>
    <tr class="border-b border-gray-300">
      <td>Guest downloads</td>
      <td class="py-3">{{> iconX}}</td>
      <td class="py-3">{{> iconCheckmark text="coming soon"}}</td>
    </tr>
    <tr class="border-b border-gray-300">
      <td>Print ordering</td>
      <td class="py-3">{{> iconCheckmark text="coming soon"}}</td>
      <td class="py-3">{{> iconCheckmark text="coming soon"}}</td>
    </tr>
    <tr class="border-b border-gray-300">
      <td>Private sharing</td>
      <td class="py-3">{{> iconCheckmark}}</td>
      <td class="py-3">{{> iconCheckmark}}</td>
    </tr>
    <!-- </tbody> -->
  </table>

  <!-- Price boxes -->
  <div
    class="mt-12 flex flex-col content-start md:flex-row items-start md:justify-center Xmd:space-x-6"
  >
    <!-- Basic -->
    <div
      class="w-64 h-64 p-1 lg:-mt-6 mr-6 text-center rounded-lg bg-gray-500 shadow-lg"
    >
      <div class="flex justify-center w-full h-full bg-white rounded">
        <div class="my-auto">
          <h3>Basic</h3>
          <div class="font-bold pb-5 mt-2 border-b border-gray-300">
            <h4 class="flex justify-center">
              <!-- <span class="text-base font-light mr-1 self-start"></span> -->
              <span id="premium-price" class="price mt-2 mb-6 text-4xl">
                Free
              </span>
              <!-- <span
                id="premium-monthly-or-annual-label"
                class="mb-1 ml-1 self-end Xtext-gray-600 text-sm lg:text-base"
              >
                / mo
              </span> -->
            </h4>
            <span class="text-sm font-normal"></span>
          </div>

          <button
            id="btn-basic"
            class="priceBtn uppercase text-center text-sm md:mt-8 px-12 py-2 rounded-md border-2 border-gray-500 font-bold text-gray-500 shadow Xhover:bg-gray-500 Xhover:text-white hover:shadow-lg transition duration-200 ease-in-out"
            value="basic"
          >
            {{#if btnText}} {{btnText}} {{else}} Sign up {{/if}}
          </button>
        </div>
      </div>
    </div>
    <!-- Premium -->
    <div class="flex flex-col sm:flex-row rounded-lg shadow-lg">
      <div
        class="w-64 h-64 p-1 lg:-mt-6 text-center rounded-t-lg sm:rounded-t-none sm:rounded-l-lg bg-gradient-to-b sm:bg-gradient-to-r from-teal-400X from-teal-400 to-purple-400"
      >
        <div class="flex justify-center w-full h-full bg-white rounded shadow">
          <div class="my-auto">
            <h3>Premium</h3>
            <div class="font-bold pb-5 mt-2 border-b border-gray-300">
              <h4 class="flex justify-center">
                <span class="text-base font-light mr-1 self-start">$</span>
                <span id="premium-price" class="price text-5xl">3.75</span>
                <span
                  id="premium-monthly-or-annual-label"
                  class="mb-1 ml-1 self-end Xtext-gray-600 text-sm lg:text-base"
                >
                  / mo
                </span>
              </h4>
              <span class="text-sm font-normal">Billed annually</span>
            </div>

            <button
              id="btn-premiumYr"
              class="priceBtn px-12 py-2 bg-purple-600 rounded-md text-center uppercase text-sm font-bold text-white shadow transition duration-200 md:mt-8 hover:shadow-lg"
              value="premiumYr"
            >
              {{#if btnText}} {{btnText}} {{else}} Sign up {{/if}}
            </button>
          </div>
        </div>
      </div>
      <div
        class="w-64 h-64 lg:-mt-6 text-white text-center bg-gradient-to-b sm:bg-gradient-to-r from-purple-400 to-orange-400 Xvia-teal-400 rounded-b-lg sm:rounded-b-none sm:rounded-r-lg"
      >
        <div class="flex justify-center w-full h-full rounded-lg Xshadow">
          <div class="my-auto">
            <h3>Premium</h3>
            <div class="font-bold pb-5 mt-2 border-b border-gray-100">
              <h4 class="flex justify-center">
                <span class="text-base font-light mr-1 self-start">$</span>
                <span id="premium-price" class="price text-5xl">5</span>
                <span
                  id="premium-monthly-or-annual-label"
                  class="annual-detail md:text-xs lg:text-sm mb-1 ml-1 self-end"
                >
                  / mo
                </span>
              </h4>
              <span class="text-sm font-normal">Billed monthly</span>
            </div>

            <button
              id="btn-premiumMo"
              class="priceBtn uppercase text-center text-sm md:mt-8 px-12 py-2 rounded-md font-bold bg-white text-purple-600 shadow hover:text-purple-500 hover:shadow-lg transition duration-200 ease-in-out"
              value="premiumMo"
            >
              {{#if btnText}} {{btnText}} {{else}} Sign up {{/if}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/javascripts/pricing.js" defer></script>
