<main
  class="flex flex-col items-center xl:mx-24 h-full mt-8 mb-20 px-4 sm:px-6 lg:px-8 space-y-4"
>
  {{> colorfulLogo}}
  <h2 class="text-2xl font-bold">Welcome{{#if name}}, {{name}}{{/if}}!</h2>
  <h2 class="text-xl font-semibold">Complete your account</h2>

  {{> pricingComponent btnText="Select"}}
</main>
<button onClick="console.log(document.cookie);">Print</button>
{{> modal}}

<!-- hidden data -->
<div id="hiddenData" data-server="{{server}}" class="hidden"></div>

<script src="/javascripts/subscriptions.js" defer></script>
