{{> menuMain}}

<header class="flex flex-col items-center mb-12">
  <h2 class="text-3xl text-primary-normal font-bold">Our Pricing</h2>
  <div class="pt-8 w-3/5 lg:w-1/5 flex justify-around align-middle">
    <p class="text-base text-gray-500 font-semibold mt-2">Annually</p>
    <div>
      <label id="toggle-component" for="toggle" class="relative inset-y-5">
        <input
          type="checkbox"
          name="toggle"
          id="toggle-checkbox"
          class="hidden"
        />
        <button
          class="absolute w-16 h-8 rounded-full shadow-inner inset-y-0 bg-gradient-to-r from-blue-400 to-purple-500 via-purple-400"
        ></button>
        <div
          id="toggle-circle"
          class="toggle-circle absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 mt-1 ml-1 transform translate-x-8 transition duration-100 ease-in-out cursor-pointer"
        ></div>
      </label>
    </div>
    <p class="text-base text-gray-500 font-semibold mt-2 ml-16">Monthly</p>
  </div>
</header>

<section
  class="flex flex-col lg:flex-row items-start lg:justify-center w-full lg:px-36 py-12"
>
  <article
    class="bg-white w-4/5 lg:w-custom mb-10 lg:px-4 px-6 py-10 text-center text-primary-dark rounded-lg"
  >
    <h5 class="font-bold text-base">Basic</h5>
    <h2
      class="font-bold pb-4 mt-2 border-b border-gray-300 flex justify-center"
    >
      <span class="text-4xl">Free</span>
    </h2>
    <ul class="text-sm font-bold">
      <li class="pt-4 pb-4 border-b border-gray-300">3 GB Storage</li>
      <li class="pt-4 pb-4 border-b border-gray-300">
        Reduced resolution images
      </li>
      <li class="pt-3 pb-4 border-b border-gray-300">One album</li>
      <li class="pt-3 pb-4 border-b border-gray-300">Private share link</li>
      <li class="pt-4 pb-4 border-b border-white">&nbsp</li>
    </ul>
    <button
      class="uppercase text-center text-sm mt-12 xl:px-24 px-12 sm:px-16 py-2 font-bold text-white rounded-md bg-teal-400"
    >
      Sign up
    </button>
  </article>
  <!-- linear-gradient(hsl(236, 72%, 79%) to hsl(237, 63%, 64%)) -->
  <article
    class="lg:w-custom w-4/5 mb-10 px-6 py-16 lg:-mt-6 text-white text-center rounded-lg bg-gradient-to-r from-teal-400 to-purple-400 shadow-lg"
  >
    <h5 class="font-bold text-base">Premium</h5>
    <h2
      class="font-bold pb-4 mt-2 border-b border-gray-100 flex justify-center"
    >
      <span class="text-base font-light mr-1 self-start">$</span>
      <span id="premium-price" class="text-6xl"></span>
      <span
        id="premium-monthly-or-annual-label"
        class="text-sm mb-1 ml-1 self-end"
      ></span>
    </h2>
    <ul class="text-sm font-bold">
      <li class="pt-4 pb-4 border-b border-gray-200">20 GB Storage</li>
      <li class="pt-4 pb-4 border-b border-gray-200">Full resolution images</li>
      <li class="pt-4 pb-4 border-b border-gray-200">Unlimited albums</li>
      <li class="pt-3 pb-4 border-b border-gray-300">Private share link</li>
      <li class="pt-4 pb-4 border-b border-gray-200">Enable guest downloads</li>
    </ul>
    <button
      class="uppercase text-center text-base mt-10 xl:px-24 px-12 sm:px-16 py-3 rounded-md font-bold bg-white text-purple-500"
    >
      Sign up
    </button>
  </article>
  <article
    class="bg-white w-4/5 lg:w-custom mb-10 lg:px-4 px-6 py-10 text-center text-primary-dark rounded-lg"
  >
    <h5 class="font-bold text-base">Premium Plus</h5>
    <h2
      class="font-bold pb-4 mt-2 border-b border-gray-300 flex justify-center"
    >
      <span class="text-base font-light mr-1 self-start">$</span>
      <span id="plus-price" class="text-4xl"></span>
      <span
        id="plus-monthly-or-annual-label"
        class="text-sm mb-1 ml-1 self-end"
      ></span>
    </h2>
    <ul class="text-sm font-bold">
      <li class="pt-4 pb-4 border-b border-gray-300">1 TB Storage</li>
      <li class="pt-4 pb-4 border-b border-gray-300">Full resolution images</li>
      <li class="pt-4 pb-4 border-b border-gray-300">Unlimited albums</li>
      <li class="pt-3 pb-4 border-b border-gray-300">Private share link</li>
      <li class="pt-4 pb-4 border-b border-gray-300">Enable guest downloads</li>
    </ul>
    <button
      class="uppercase text-center text-sm mt-12 xl:px-24 px-12 sm:px-16 py-2 rounded-md bg-purple-400 font-bold text-white""
    >
      Sign up
    </button>
  </article>
</section>

<script
  type="text/javascript"
  src="/javascripts/pricing.js"
  async="defer"
></script>