{{> menuMain logo="true"}}

<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <div>
      <!--             
      <img
        class="mx-auto h-12 w-auto"
        src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg"
        alt="Workflow"
      />
     -->
      <h2
        class="mt-6 text-center text-3xl leading-9 font-extrabold text-teal-600"
      >
        Let's get started
      </h2>
      <h3
        class="mt-2 text-center text-lg leading-9 font-semibold text-gray-600"
      >
        Create an account
      </h3>
      <!--       
      <p class="mt-2 text-center text-sm leading-5 text-gray-600">
        Or
        <a
          href="#"
          class="font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:underline transition ease-in-out duration-150"
        >
          start your 14-day free trial
        </a>
      </p>
       -->
    </div>
    <form class="mt-8" action="/user/create-owner" method="POST">
      <input type="hidden" name="remember" value="true" />
      <div class="flex w-full justify-between mb-2 rounded-md shadow">
        <input
          aria-label="First Name"
          name="firstName"
          type="text"
          value="{{firstName}}"
          required
          class="appearance-none rounded-none relative w-1/2 px-3 py-2 border border-gray-300 border-r-0 placeholder-gray-500 text-gray-900 rounded-l-md focus:outline-none focus:ring-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
          placeholder="First Name"
        />

        <input
          aria-label="Last Name"
          name="lastName"
          type="text"
          value="{{lastName}}"
          required
          class="appearance-none rounded-none relative w-1/2 -ml-px px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-r-md focus:outline-none focus:ring-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
          placeholder="Last Name"
        />
      </div>
      <div class="mb-2 rounded-md shadow">
        <input
          aria-label="Username"
          name="username"
          type="text"
          value="{{username}}"
          required
          class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-none rounded-t-md focus:outline-none focus:ring-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
          placeholder="Username"
        />
        <input
          aria-label="Email"
          name="email"
          type="email"
          value="{{email}}"
          required
          class="appearance-none relative block w-full -mt-px px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-none rounded-b-md focus:outline-none focus:ring-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
          placeholder="Email"
        />
      </div>
      <div class="rounded-md shadow">
        <input
          id="pw-input"
          aria-label="Password"
          name="password"
          type="password"
          required
          class="appearance-none relative block w-full border border-gray-300 border-b-0 px-3 py-2 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
          placeholder="Password (minimum 6 characters)"
        />
        <input
          aria-label="Confirm Password"
          name="confirmPassword"
          type="password"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
          placeholder="Confirm Password"
        />
      </div>
      <div class="-mt-px"></div>

      <div class="mx-2 mt-4 space-y-2">
        <p class="block text-sm font-medium leading-5 text-gray-700">
          Password strength
        </p>
        <div id="strength-bar" class="relative flex h-2 mx-auto space-x-1">
          <div class="w-1/5 border rounded-sm shadow-sm"></div>
          <div class="w-1/5 border rounded-sm shadow-sm"></div>
          <div class="w-1/5 border rounded-sm shadow-sm"></div>
          <div class="w-1/5 border rounded-sm shadow-sm"></div>
          <div class="w-1/5 border rounded-sm shadow-sm"></div>
        </div>
        <p id="pw-tips" class="text-sm font-light leading-5 text-gray-700"></p>
      </div>

      <div class="mt-6 flex items-center justify-between">
        <!--        
        <div class="flex items-center">
          <input
            id="remember_me"
            type="checkbox"
            class="form-checkbox h-4 w-4 text-teal-600 transition duration-150 ease-in-out"
          />
          <label
            for="remember_me"
            class="ml-2 block text-sm leading-5 text-gray-900"
          >
            Remember me
          </label>
        </div>
         -->

        <div class="pl-2 text-sm leading-5">
          <p class="justify-self-end font-semibold text-red-500">{{errMsg}}</p>
          <a
            href="/login"
            class="font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:underline transition ease-in-out duration-150"
          >
            Already have an account? Sign in.
          </a>
        </div>
      </div>

      <div class="mt-6">
        <button
          id="submit-btn"
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:ring-teal active:bg-teal-700 shadow transition duration-150 ease-in-out"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg
              class="h-5 w-5 text-teal-500 group-hover:text-teal-400 transition ease-in-out duration-150"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          Sign up
        </button>
      </div>
    </form>
  </div>
</div>

<script
  type="text/javascript"
  src="/javascripts/zxcvbn.js"
  async="defer"
></script>
<script
  type="text/javascript"
  src="/javascripts/pwStrength.js"
  async="defer"
></script>
